/*! CSS Used from: Embedded */
svg:not(:root).svg-inline--fa{overflow:visible;}
.svg-inline--fa{display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-0.125em;}
.svg-inline--fa.fa-w-14{width:0.875em;}
.svg-inline--fa.fa-w-16{width:1em;}
/*! CSS Used from: Embedded */
.orange-text{color:#CA4D00;}
.slate-text{color:#113f83;}
.header-wrap .fa-bars{font-weight:300;font-size:2em;color:#113f83;vertical-align:middle;position:relative;}
.header-wrap .controls{float:right;display:flex;vertical-align:middle;margin-top:2.5em;}
.header-wrap a:hover,.header-wrap a:active,.header-wrap a:focus,.header-wrap a:visited{text-decoration:none!important;}
.header{margin-top:1em;display:flex;flex-direction:row;justify-content:space-between;margin-bottom:1em;}
.header .logo{display:flex;flex-direction:row;}
.header .logo img{margin-right:1em;width:auto;height:64px;}
.header .logo .logo-text{font-family:'Raleway', sans-serif;display:flex;flex-direction:column;}
.header .logo .logo-text h1{font-weight:300;margin-bottom:0;font-size:2.4em;margin-top:0;}
.header .logo .logo-text h1 span{letter-spacing:-2px;}
.header .logo .logo-text .tagline{font-weight:500;}
.header .logo .logo-text small{font-weight:400;font-size:1.0em;}
.header .logo .logo-text strong{font-weight:700;}
.header .logo{float:left;}
.mega-menu-toggle{position:relative;flex-direction:column;text-align:center;display:flex;margin:0;top:-24px;}
.mega-menu-toggle label{text-transform:uppercase;font-weight: 400; position:relative;color:#113f83;font-size:9px;margin-bottom:0;}
.search-bar{padding:0;float:right;opacity:0.85;position:relative;top:0px;}
.search-bar input:focus, .search-bar input {box-shadow:0 0 0;}
.search-bar input{border:0px;top:-6px;}
.search-bar .fa-search{font-size:100%;position:relative;top:-2px;}
.search-bar input[type=text]:focus{width:250px;opacity:1.0;border-color:#113f83;}
.search-bar input[type=text]{transition:all 0.5s ease;border-bottom:1px solid transparent;width:70px;font-size:80%;margin:0 10px;padding:0;border-radius:0;}
/*! CSS Used from: Embedded */
*,*::before,*::after{box-sizing:border-box;}
h1{margin-top:0;margin-bottom:0.5rem;}
strong{font-weight:bolder;}
small{font-size:80%;}
a{color:#C74D00;text-decoration:none;background-color:transparent;}
a:hover{color:#7b2f00;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
svg{overflow:hidden;vertical-align:middle;}
label{display:inline-block;margin-bottom:0.5rem;}
input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
input{overflow:visible;}
h1{margin-bottom:0.5rem;font-weight:500;line-height:1.2;}
h1{font-size:2.5rem;}
small{font-size:80%;font-weight:400;}
.form-control{display:block;width:100%;height:calc(1.5em + 0.75rem + 2px);padding:0.375rem 0.75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:0.25rem;transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.form-control{transition:none;}
}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-control:focus{color:#495057;background-color:#fff;border-color:#ff8f48;outline:0;box-shadow:0 0 0 0.2rem rgba(199, 77, 0, 0.25);}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.input-group{position:relative;display:flex;flex-wrap:wrap;align-items:stretch;width:100%;}
.input-group > .form-control{position:relative;flex:1 1 auto;width:1%;margin-bottom:0;}
.input-group > .form-control:focus{z-index:3;}
.input-group > .form-control:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0;}
.input-group-sm > .form-control:not(textarea){height:calc(1.5em + 0.5rem + 2px);}
.input-group-sm > .form-control{padding:0.25rem 0.5rem;font-size:0.875rem;line-height:1.5;border-radius:0.2rem;}
.px-5{padding-right:3rem!important;}
.px-5{padding-left:3rem!important;}
@media print{
*,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
}
/*! CSS Used from: Embedded */
*,*::before,*::after{box-sizing:border-box;}
h1{margin-top:0;margin-bottom:0.5rem;}
strong{font-weight:bolder;}
small{font-size:80%;}
a{color:#C74D00;text-decoration:none;background-color:transparent;}
a:hover{color:#7b2f00;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
svg{overflow:hidden;vertical-align:middle;}
label{display:inline-block;margin-bottom:0.5rem;}
input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
input{overflow:visible;}
h1{margin-bottom:0.5rem;font-weight:500;line-height:1.2;}
h1{font-size:2.5rem;}
small{font-size:80%;font-weight:400;}
.form-control{display:block;width:100%;height:calc(1.5em + 0.75rem + 2px);padding:0.375rem 0.75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#495057;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-radius:0.25rem;transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.form-control{transition:none;}
}
.form-control::-ms-expand{background-color:transparent;border:0;}
.form-control:focus{color:#495057;background-color:#fff;border-color:#ff8f48;outline:0;box-shadow:0 0 0 0.2rem rgba(199, 77, 0, 0.25);}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.input-group{position:relative;display:flex;flex-wrap:wrap;align-items:stretch;width:100%;}
.input-group > .form-control{position:relative;flex:1 1 auto;width:1%;margin-bottom:0;}
.input-group > .form-control:focus{z-index:3;}
.input-group > .form-control:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0;}
.input-group-sm > .form-control:not(textarea){height:calc(1.5em + 0.5rem + 2px);}
.input-group-sm > .form-control{padding:0.25rem 0.5rem;font-size:0.875rem;line-height:1.5;border-radius:0.2rem;}
.px-5{padding-right:3rem!important;}
.px-5{padding-left:3rem!important;}
@media print{
*,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
}
/*! CSS Used fontfaces */
@font-face{font-family:'Raleway';font-style:normal;font-weight:100;src:local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNwE44Q4FqL_KWxWMT.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:100;src:local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNwE44TYFqL_KWxQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:300;src:local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqhPANqczVsq4A.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:300;src:local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqZPANqczVs.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:400;src:local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:400;src:local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:500;src:local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqhPANqczVsq4A.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:500;src:local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqZPANqczVs.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:700;src:local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqhPANqczVsq4A.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:700;src:local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPANqczVs.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:900;src:local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vWqhPANqczVsq4A.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Raleway';font-style:normal;font-weight:900;src:local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vWqZPANqczVs.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
.container{position:relative;margin-left:auto;margin-right:auto;padding-right:15px;padding-left:15px;}
@media (min-width:576px){
.container{padding-right:15px;padding-left:15px;}
}
@media (min-width:768px){
.container{padding-right:15px;padding-left:15px;}
}
@media (min-width:992px){
.container{padding-right:15px;padding-left:15px;}
}
@media (min-width:1200px){
.container{padding-right:15px;padding-left:15px;}
}
@media (min-width:576px){
.container{width:540px;max-width:100%;}
}
@media (min-width:768px){
.container{width:720px;max-width:100%;}
}
@media (min-width:992px){
.container{width:960px;max-width:100%;}
}
@media (min-width:1200px){
.container{width:1140px;max-width:100%;}
}

/*! CSS Used from: http://uatclimatechange.org/static/css/main.912c9e39.css */
.header-wrap a:active,.header-wrap a:focus,.header-wrap a:hover,.header-wrap a:visited{text-decoration:none!important;}
.mega-menu{position:absolute;top:86px;left:0;right:0;z-index:101;background:hsla(0,0%,94%,.9);border:1px solid #113f83;padding:1em 4em; z-index:9999;}
.mega-menu header h1{font-weight:400;color:#113f83;font-size:1.5rem;margin-bottom:1em;}

.mega-menu .tool-n-data-col{-ms-flex:0 0 12%;flex:0 0 12%;max-width:12%;min-width:130px;}
.mega-menu .tool-n-data-col h3,.mega-menu .tool-n-data-col h3>a{font-size:1.05em;}
.mega-menu .take-action-col{-ms-flex:0 0 40%;flex:0 0 40%;max-width:40%;}
.mega-menu .learn-col{-ms-flex:0 0 46%;flex:0 0 46%;max-width:46%;}
.mega-menu hr{border-top:5px solid #ca4d00;margin:0 -5px;}
.mega-menu h2{color:#113f83;font-weight:700;font-size:1em;}
.mega-menu section.no-pad-r{padding-right:0;}
.mega-menu h3{margin:10px 0;}
.mega-menu h3,.mega-menu h3>a{color:#113f83;font-weight:700;font-size:1.15em;}
.mega-menu li{list-style-type:none;position:relative;padding-left:5px;margin-top:12px;font-size:14px;}
.mega-menu ul{-webkit-padding-start:8px;-moz-padding-start:8px;padding-inline-start:8px;list-style-type:circle;}
.mega-menu li:before{content:"\2022";font-size:35px;position:absolute;top:-17px;left:-11px;color:#ca4d00;}
@media (max-width:1024px){
.mega-menu .learn-col,.mega-menu .take-action-col,.mega-menu .tool-n-data-col{width:100%;max-width:100%;min-width:100%;}
}

#menu-show h1 a, .menu-show h1 a:hover {
  color: #113f83;
  font-size: 24px;
}
#menu-show header {
  height: auto;
}
.mega-menu .tool-n-data-col {
  float: left;
  -ms-flex: 0 0 12%;
  flex: 0 0 12%;
  max-width: 12%;
  min-width: 130px;
}

.mega-menu .learn-col {
  float: left;
  -ms-flex: 0 0 46%;
  flex: 0 0 46%;
  max-width: 46%;
}
.mega-menu .take-action-col {
  float: left;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.mega-menu li:before {
    content: "\2022";
    font-size: 35px;
    position: absolute;
    top: -17px;
    left: -11px;
    color: #ca4d00;
}
.mega-menu li a {
    text-decoration: none!important;
    cursor: pointer;
    color: #113f83;
    font-weight: 400;
}

.up-triangle {
    font-size: 3em;
    position: absolute;
    z-index: 99999;
    text-align: center;
    right: 30px;
    top: 90px;
}
.up-triangle .triangle {
    color: #113f83;
    border-bottom: 15px solid #113f83;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    width: 0;
    height: 0;
    display: inline-block;
}
